.name-modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name-modal-field-container {
  font-size: 1rem;
  flex: 0 0 100%;
  margin: 1rem 0;
  position: relative;
}

.name-modal-field-container:last-child {
  display: flex;
}

.name-modal-field-container
.name-modal-text-field-label {
  background-color: var(--white);
  color: var(--primary-blue);
  font-weight: 500;
  left: 4%;
  padding: 0;
  position: absolute;
  top: 0.8rem;
  transition: all 0.3s ease;
}

.name-modal-field-container
input[type='text'] {
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.2rem;
  margin: 0 auto;
  padding: 0.8rem 0.2rem 0.8rem 1rem;
  transition: all 0.2s ease;
  width: 100%;
}

.name-modal-field-container
input[type='text']:focus {
  border: 0.15rem solid var(--primary-blue);
  outline: 0;
  padding-top: 0.7rem;
}

.name-modal-field-container:focus-within
.name-modal-text-field-label,
.name-modal-field-container
.value-filled {
  font-size: 0.8rem;
  padding: 0 0.2rem;
  top: -0.35rem;
}

.name-modal-submit-button {
  margin-left: auto;
  margin-top: 1rem;
}
