.name-board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.name-board-inner-container {
  background-color: var(--white);
  border-radius: 0.3rem;
  max-width: 90%;
  padding: 2rem 2rem;
  position: relative;
  width: 500px;
}

.name-board-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name-board-field-container {
  font-size: 1rem;
  flex: 0 0 100%;
  margin: 1rem 0;
  position: relative;
}

.name-board-field-container:last-child {
  display: flex;
}

.name-board-field-container .name-board-text-field-label {
  background-color: var(--white);
  color: var(--primary-blue);
  font-weight: 500;
  left: 4%;
  padding: 0;
  position: absolute;
  top: 0.8rem;
  transition: all 0.3s ease;
}

.name-board-text-error {
  color: red;
}

.name-board-field-container input[type='text'] {
  border: 0.1rem solid var(--light-grey);
  border-radius: 0.2rem;
  margin: 0 auto;
  padding: 0.8rem 0.2rem 0.8rem 1rem;
  transition: all 0.2s ease;
  width: 100%;
}

.name-board-field-container input[type='text']:focus {
  border: 0.15rem solid var(--primary-blue);
  outline: 0;
  padding-top: 0.7rem;
}

.name-board-field-container:focus-within .name-board-text-field-label,
.name-board-field-container .value-filled {
  font-size: 0.8rem;
  padding: 0 0.2rem;
  top: -0.35rem;
}

.name-board-submit-button {
  margin-left: auto;
  margin-top: 1rem;
}
