.home-container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.home-left-container {
  width: 50%;
  background-color: var(--primary-blue);
  height: 100vh;
}

.home-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.home-buttons {
  text-align: center;
}

img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 750px) {
  .home-left-container {
    display: none;
  }
  .home-right-container {
    width: 100%;
    padding: 50px;
    text-align: center;
  }
}
